{% extends 'base.html' %}

{% block page_title %}
Buttons :)
{% endblock %}


{% block title %}
Example of Bootstrap's buttons
{% endblock %}

{% block body %}
<button type="button" class="btn btn-outline-primary">Primary</button>
<button type="button" class="btn btn-outline-secondary">Secondary</button>
<button type="button" class="btn btn-outline-success">Success</button>
<p></p>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<p></p>
{% endblock %}