{% extends 'base.html' %}

{% block style %}



{% endblock %}

{% block content %}
<h1></h1>
<h2>Музыкальные жанры</h2>
<ul class="list-group ">
    {% for category in object_list %}
    <li style="width: 200px; display: inline" class="list-group-item wrapper">
        <div class="list" > <a class="btn btn-outline-info" href="/"> {{category.title}} </a> </div>
    </li>
    {% endfor %}
</ul>

{% if user.is_superuser or user.is_staff %}
<a href="{% url 'genres_create' %}">Добавить жанр</a>
{% endif %}

{% endblock %}